.app-wrapper {

    font-family: Poppins;
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    display: grid;
    grid-area: c;
    background-color: #8F9296;
    border-radius: 0 0 40px 0;
}